html {
    font-size: 22px;
}
body {
    background-color: rgb(236, 213, 169);
    color: rgb(17, 16, 16);
}

a {
    color: rgb(5, 12, 12);
}
a:visited {
    color: rgb(212, 101, 10);
}
a:hover, a:active {
color: #eee;
}

dl {
    font-size: 18px;
}
header
{background-color: rgb(212, 101, 10);
    color: black;
    padding: 10px;
    text-align: center;
}
#header
{background-color: rgb(212, 101, 10);
    color: black;
    padding: 10px;
    text-align: left;
}

section{
    margin: 20px;
}

body{
font-size: 18px;
}