

a {
    color: rgb(5, 12, 12);
}
a:visited {
    color: rgb(212, 101, 10);
}
a:hover, a:active {
color: purple;
}


table, tr, th, tfoot, td, caption
{
    border: 1px solid black;
    padding: 0.5rem;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;

}